.App {
  width: 30%;
  margin: auto;
}

.result {
  height: 60px;
  background-color: #bbb;
  width: 100%;
  border: 1px solid gray;
}

.result p {
  font-size: 30px;
  margin: 5px;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}

.zero-backspace {
  width: 50%;
}
